@model DekanatFPM.Models.YearIndividualPlan

@{
    ViewBag.Title = "AddIndividualPlan";
}

<h2>AddIndividualPlan</h2>

<div>
    @using (Html.BeginForm("AddIndividualPlan", "Groups", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
        <div>
            Завантажте Excel-файл:
            <input type="file" name="file" id="file" />
            <input type='hidden' name='GroupID' value='@ViewBag.GroupID' />
            <div>
                <input type="submit" value="Завантажити" />
            </div>
        </div>
    }
</div>

